<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/fit.png" type="image/x-icon" />
    <title>EZ-Fit</title>
  </head>
  <body>
    <header>
      <nav-bar></nav-bar>
    </header>
    <main tabindex="0" id="content">
      <section id="jumbotron">
        <jumbotron-section></jumbotron-section>
      </section>
      <section id="description" class="text-center">
        <h3 class="mt-4">It's Time To Get Fit</h3>
        <h4 class="mx-auto mb-4 fw-normal px-5 lh-base">
          People usually confused when it’s time planning a workout program for
          them. Many people think that building muscle can only be done on a gym
          and with equipment. It’s time to change that perspective! We provide
          you a workout plan based on your time, level, muscle group and type.
          Having a healthy and fit body is everybody rights.<br />
          Get fit with us now!
        </h4>
      </section>
      <section id="carousel">
        <carousel-container></carousel-container>
      </section>
      <section id="callToAction">
        <div class="text-center my-5">
          <button class="btn btn-primary" role="button">
            Get My Workout Plan
          </button>
        </div>
      </section>
    </main>
    <footer>Footer</footer>
  </body>
</html>
